<!DOCTYPE html>
<html lang="en"
xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starter</title>

    
</head>
<body>
    <!-- This is a welcome page with our company name and two button-->
    <div align="center">
        <section layout:fragment="content">
            <div>
                <h1 align="center">Welcome to blanks health services</h1>
                
                <div align=center>
                    <img th:src="@{/images/kahler35_cartoon_doctor_tools_to_form_a_logo_for_a_health_care__61b72957-aaeb-4948-b2de-ada80fbddc71.png}" alt="Company Logo" width="300" height="300"/><br/><br/>
                </div>
                <h3 align="center">If you are a returning customer pleae login. If you are new, please register.</h3>
            </div>
            <div align="center">
                <form th:action="@{/login}" method="get">
                    <button type="submit" class="btn btn-success" >  Login </button>
                </form>
                <form th:action="@{/register}" method="get">
                    <button type="submit" class="btn btn-success" >Register</button>
                   
                </form>
                
             </div>
    </section>
</div>

</body>
</html>